{{!-- TODO: Tabs for Alerts, Indicator, & Events --}}
{{!-- TODO: Have the Indicator and Alerts have subsections with the Title being the Alert 
  Independent indicators won't have a related Alert and thus will be under a hardcoded Title
--}}

{{!-- TODO: Was thinking you could links for all the related items in the overlay.  
  For Example:
    On Alerts you have a Related Indicator Count and Related Events Count.
    You can make those properties a link or just an independent link with an action that
    will change the tab and scroll to the section related to that alert.
    Can use the Google Drive Integration for reference for scrolling logic
    https://github.com/polarityio/google-drive/blob/adding-file-content/components/gdrive-block.js#L127
 --}}

<ul class="nav nav-tabs">
  {{#if details.alerts.length}}
    <li class="nav-item">
      <a {{action "changeTab" "alerts"}} class="nav-link {{if (or (eq activeTab "alerts") (not activeTab)) "active"}}" href="#">
        Alerts
      </a>
    </li>
  {{/if}}
  {{#if details.indicators.length}}
    <li class="nav-item">
      <a {{action "changeTab" "indicators"}} class="nav-link {{if (eq activeTab "indicators") "active"}}" href="#">
        indicators
      </a>
    </li>
  {{/if}}
  {{#if details.events.length}}
    <li class="nav-item">
      <a {{action "changeTab" "events"}} class="nav-link {{if (eq activeTab "events") "active"}}" href="#">
        Events
      </a>
    </li>
  {{/if}}
</ul>
{{#if (eq activeTab "alerts")}}
  <div class="tab-content alerts">
    {{#each details.alerts as |alert|}}
      <div class="alert">
        {{#if alert.indicatorAlertCount.indicatorValue}}
          <div>
            <span class="p-key">Indicator: </span>
            <span class="p-value">{{alert.indicatorAlertCount.indicatorValue}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if (eq activeTab "indicators")}}
  <div class="tab-content indicators">
    {{#each details.indicators as |indicator|}}
      <div class="indicator">
        {{#if indicator.indicatorValue}}
          <div>
            <span class="p-key">Indicator: </span>
            <span class="p-value">{{indicator.indicatorValue}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if (eq activeTab "events")}}
  <div class="tab-content events">
    {{#each details.events as |event|}}
      <div class="event">
        {{#if event.category}}
          <div>
            <span class="p-key">category: </span>
            <span class="p-value">{{event.category}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}